@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --primary-white: rgb(239, 239, 239);
  --primary-black: rgb(36, 41, 46);
  --primary-background: rgb(229, 231, 235);
  --secondary-background: rgb(203, 240, 248);
  --pastel-blue: rgb(154, 208, 236);
  --primary-text: rgb(50, 49, 48);
  --secondary-text: rgb(100, 116, 139);
  --gray-100: #f3f4f6;
  --tw-text-opacity: 1;
  --blue: rgb(37, 100, 207);
  --secondary-blue: rgb(0, 120, 212);
  --secondary-white: rgb(151, 107, 31);
  --error-red: red;
  --light-emerald: #4ade80;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  min-height: 100%;
  width: 100vw;
  background-color: var(--gray-100);
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: "Pacifico",  Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
}

.grid-container{
  display: grid;
  height: max-content;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "main"
      "aside";
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.nav {
  grid-area: nav;
}
.aside {
  grid-area: aside;
}
.main{
  grid-area: main;
}
@media screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.7fr 2.3fr;
    grid-template-areas:
      "nav nav nav"
      "aside main main"
      "aside main main"
      "aside main main";
    gap: 1rem;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

}